<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/" ></ion-back-button>
    </ion-buttons>
    <ion-title>{{myId}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
<ion-note color="primary">Asegurados</ion-note>
    <ion-list >
        <ion-item detail (click)="onClickAfiliados()" class="fa-fa-chevron-down">
        <ion-icon slot="start" name="stats"></ion-icon>  
        <ion-label>Por Afiliados</ion-label>
        </ion-item>
        <ion-item detail (click)="onClickTipoSeguro()" class="fa-fa-chevron-down">
            <ion-icon slot="start" name="stats"></ion-icon>  
            <ion-label>Por Tipo de Seguro</ion-label>
        </ion-item>
        <ion-item detail>
          <ion-icon slot="start" name="stats"></ion-icon>  
          <ion-label>Por Redes</ion-label>
      </ion-item>
      <ion-item detail>
        <ion-icon slot="start" name="stats"></ion-icon>  
        <ion-label>Por Edad y Sexo</ion-label>
    </ion-item>
    <ion-item detail>
      <ion-icon slot="start" name="stats"></ion-icon>  
      <ion-label>Por Nivel de Atención</ion-label>
  </ion-item>
      </ion-list>
      

      <ion-note color="primary">Personal</ion-note>
      <ion-list class="accordion-list" >
          <ion-item detail (click)="onClickAfiliados()" class="fa-fa-chevron-down">
          <ion-icon slot="start" name="stats"></ion-icon>  
          <ion-label>Por Tipo Regimen</ion-label>
          </ion-item>
          <ion-item detail>
              <ion-icon slot="start" name="stats"></ion-icon>  
              <ion-label>Por Tipo de Seguro</ion-label>
          </ion-item>
          <ion-item detail>
            <ion-icon slot="start" name="stats"></ion-icon>  
            <ion-label>Por Cargo</ion-label>
        </ion-item>
        <ion-item detail>
          <ion-icon slot="start" name="stats"></ion-icon>  
          <ion-label>Personal Médico</ion-label>
      </ion-item>
      <ion-item detail>
        <ion-icon slot="start" name="stats"></ion-icon>  
        <ion-label>Por Nivel de Atención</ion-label>
    </ion-item>
        </ion-list>
     
     
     


</ion-content>
