<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    
    <div style="display: block !important;     margin-left: auto !important; margin-right: auto !important;">
      <div style=" display: table-cell !important; vertical-align: middle !important;">
          <ion-img src="/assets/images/fondo.png" style="margin-left: auto !important; margin-right: auto !important;"></ion-img>
      </div>
    </div>
   
  </ion-content>
  